/*.cart-container{
    padding-left: 20%;
}
*/
.buck-block{
    display: flex;
    height: 100px;
    padding: 5px 5px 5px 5px;
    border: 1px solid  darkblue;
}


.buck-block_item{
    display: flex;
    width: 100%;
}
.buck-block_item img{
    width: 100px;
    margin-right: 25%;
}

.buck-n_p{
    margin-right: 5%;
    margin-right: 10%;
    font-size: 2.0em;
    flex-direction: column;
    DISPLAY: flex;
    align-items: center;


}

.buck-btn{
    DISPLAY: flex;
    align-items: center;
}
.buck-prise{
    color: red;
}

@media screen and (max-width: 768px){
 
    .buck-n_p {        
        font-size: 1.2em;
            }

            .buck-btn{

            }
             .buck-btn button {
            font-size: 10px;
    }
}


@media screen and (max-width: 768px){
    .buck-block {
        flex-direction: column;
         align-items: center;
        height: 215px;
    }
    .buck-block_item {
         flex-direction: column;
         align-items: center;
               }
   .buck-n_p {
    font-size: 1.0em;
        }

}


