 
.content{
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
     background-color: #abaaa8;
     -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.68);
     -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.68);
     box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.68);
    }
.title-header img{
    max-width: 100%;
    padding-left: 53px;
}
.head-cont{
    width: 100%;
    height: 100%;
}
.cart-block{
    padding-left: 100%;
}
 .cart-block a div{
    display: flex;
 }
 .cart-block a div h3{
    padding: 13px;
 }

 .cart-block a img{
  
    height: 57px;
}

.head-cont{
    display: inline;
}

.product-cont{
    margin-bottom: 5%;
}

@media  screen and (max-width:1440px){
    .content{
        width: 980px;
       
     }
 } 

 
 @media  screen and (max-width:1024px){
    .content{
        width: 680px;
            }
     .cart-block {
        padding-left: 59%;
    }

    .cart-block a img {
        height: 48px;
    }
 } 

 @media  screen and (max-width:768px){
    .content{
        width: 480px;
            }
     
    .cart-block a img {
        height: 38px;
            }
   .cart-block a div h3 {
       font-size: 1.5em;
       padding: 6px;
            }
 } 

 @media  screen and (max-width:425px){
    .content{
        width: 380px;
            }
    .cart-block {
        padding-left: 47%;
    }
    .cart-block a img {
        height: 38px;
    }
   .content  .App .title-header  {
        /* max-width: 100%; */
        padding-left: 14px;
        width: 150px;
            }
 } 
 @media  screen and (max-width:425px){
    .content{
        width: 340px;
            }
   
 } 

 @media  screen and (max-width:375px){
    .content{
        width: 300px;
            }
            cart-block a img {
                height: 28px;
            }

            .cart-block a div h3 {
                font-size: 1.1em;
                padding: 6px;
            }
 } 

 @media  screen and (max-width:425px){
    .content{
        width: 340px;
            }
   
 } 

 @media  screen and (max-width:375px){
       .content{
        width: 300px;
            }
        header {
          height: 86px;
               }
    .cart-block a img {
        height: 28px;
    }

    .cart-block a div h3 {
        font-size: 0.8em;
        padding: 6px;
    }
 } 

 @media  screen and (max-width:320px){
    .content{
        width: 300px;
            }
    .cart-block a img {
        height: 28px;
            }
    header {
        height: 86px;
            }
    .cart-block a div h3 {
        font-size: 0.8em;
        padding: 6px;
         }
 } 